button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    margin: 0.3em;
    border: none;
    border-radius: 2em;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: #2b2a47;
    border-radius: 1em;
    padding: 1em;
}

.color--one {
    background-color: #5E7691;
    color: #E6E3D3;
}

.color--two {
    background-color: #C1BEB7;
    color: #4B497A;
}

.color--three {
    background-color: #C1BEB7;
    color: #516780;
}